<h3>{{produto.nome}}</h3>
<form method="post">
    <input type="number" name="quantidade" min="1" max="{{produto.estoque}}" class="form-control mb-2" required>
    <button class="btn btn-success">Finalizar Compra</button>
    <a href="/" class="btn btn-secondary">Voltar</a>
</form>